/* SEZIONE CONTENUTO COMICS */
#recipe-content-comics {
    background-color: #0282f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-transform: uppercase;
    padding: 50px 0px;
}

/* RECIPIENTE COMICS */
.recipe-comics {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* IMMAGINI */
.recipe-comics {
    img {
        width: 40px;
    }
}